
body{
	background-size: cover;
}
.products{
	font-size: 24px;
	background-color:#427a40;
}

#cheese{
	font-size: 20px;
	text-align: left;
}
.ul_cheese{
	font-size: 20px;
	text-align: left;
	background-color: #67845e 
}

h3{font-size: 24px;}

#l{font-size: 20px;}
#ch{font-size: 20px;}

table, th, td {
   border: 1px solid black; background-color: #67845e;
}


#cheese{background-color:#a0d190}

#pp{font-size: 20px; background-color: #67845e}
