body{
	background-image: url("Grapes_Wine_Black_background_Stemware_512143_3840x2160.jpg");
	background-size: cover;
}

.div1{
	font-size: 24px;
	color: #CAB4B4;
}

#story{font-size: 24; text-align: left; color: #D3CECE}

#storydiv{
	font-size: 20px;
	color:white;
}
 
 .ol{font-size: 18px;
	color:#e5dada;}


#wc{font-size: 24; text-align: left; color: #D3CECE}

#p2{color: white; font-family: sans-serif; font-style: italic;

}

